.img-container {
  display: inline-block;
  width: 40% !important;
  .single-image-row-container {
    .single-image-row {
      .single-images {
        display: flex;
        justify-content: space-between;
        .icon-navigation {
          max-width: 35px;
          align-self: center;
          padding: 10px;
          opacity: 40% !important;
          cursor: pointer;
          background-color: rgba(209, 201, 191, 0.349);
          border-radius: 10px;
        }
        .icon-navigation:hover {
          opacity: 90% !important;
        }
        .single-img-container {
          text-align: center;
          margin-top: 20px;
          max-width: 60%;
          .main-image-container {
            height: 350px;
            align-items: center;
            padding: 0px 20%;
            display: flex;
            .single-image {
              max-height: 350px;
              max-width: 100%;
            }
          }
          .icon-left {
            margin: 0% 0;
          }
        }
      }
    }
  }
  .img-list-container {
    margin-top: 15px;
    .product-image-wrap {
      height: 100px;
      display: flex;
      align-items: center;
      padding: 10px;
      cursor: pointer;

      .product-image {
        max-height: 80px;
        max-width: 100%;
        margin: 10%;
      }
    }
    .product-image-selected {
      border: 1px solid rgba(0, 0, 0, 0.219);
      background-color: rgba(177, 177, 201, 0.171);
      border-radius: 10px;
      margin-left: 2px;
      max-width: 20%;
    }
    .other-product-images {
      border: 1px solid rgba(0, 0, 0, 0.062);
      border-radius: 10px;
      margin-left: 2px;
      max-width: 20%;
    }
    .other-product-images:hover {
      opacity: 80%;
    }
  }
}

@media screen and (max-width: 1200px) {
  .img-container {
    .single-image-row {
      .single-img-container {
        .main-image-container {
          height: 270px;
          .single-image {
            max-height: 265px;
            max-width: 100%;
          }
        }
      }
    }
    .img-list-container {
      .product-image-wrap {
        height: 80px;
        .product-image {
          max-height: 75px;
        }
      }
    }
  }
}

@media screen and (max-width: 840px) {
  .img-container {
    width: 100% !important;
    .single-image-row {
      padding-left: 2%;
      padding-right: 2%;
      .single-img-container {
        .main-image-container {
          height: 250px;
          .single-image {
            max-height: 250px;
            max-width: 100%;
          }
        }
      }
    }
    .img-list-container {
      width: 80%;
      .product-image-wrap {
        height: 80px;
        .product-image {
          max-height: 75px;
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .img-container {
    .single-image-row {
      .single-img-container {
        .main-image-container {
          height: 270px;
          .single-image {
            max-height: 270px;
            max-width: 100%;
          }
        }
      }
    }
    .img-list-container {
      width: 100%;
      .product-image-wrap {
        height: 50px;
        .product-image {
          min-height: 30px;
          max-height: 45px;
        }
      }
    }
  }
}
