.login-message {
  background-color: rgb(238, 238, 238);
  text-align: left;
  display: flex;
  width: 100%;
  border-radius: 8px;
  padding: 0px 2%;
  .product-login-button {
    margin-right: 0px;
    margin-left: auto;
    align-self: center;
    .btn {
      background-color: rgba(240, 71, 71, 0.87);
      color: white;
      font-weight: 700;
      border-color: rgba(240, 71, 71, 0.87);
    }
  }
}

@media screen and (max-width: 725px) {
  .login-message {
    display: block;
    text-align: center;
    padding-top: 1px;
    .product-login-button {
      display: flex;
      margin-bottom: 10px;
      padding-bottom: 10px;
      justify-content: center;
    }
  }
}
